*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 3rem;
}

h3{
    margin-bottom: 3rem;
}

.number{
    margin: 2rem;
    padding: 2rem;
    background-color: red;
}
.contInput{
    margin: 1rem;
    
}
.invisible{
    display: none;
}
select{
    margin: 1rem;
}